.traffic-light {
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 10px;
    margin: 20px auto;
}
.red {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(97, 1, 1);
    margin-bottom: 10px;
    cursor: pointer;
}
.yellow {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(150, 150, 0);
    margin-bottom: 10px;
    cursor: pointer;
}
.green {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(1, 83, 1);
    cursor: pointer;
}